<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a class='nav-link' [routerLink]="['/warning-test']" routerLinkActive="active">Warning</a></li>
    <li><a class='nav-link' [routerLink]="['/error-test']" routerLinkActive="active">Error</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
